In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
#簡単なSeriesを作ってみましょう。
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
#  reindexを使って、indexを変えられます。
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [5]:
#自動的に、nullが入ります。
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
# 新しいindexの値を埋めることもできます。
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
# ffillは、forward fillの略です。
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [9]:
# 行と列の両方について、Reindexを考えます。
# reshapeを使ってDataFrameを作ってみます。
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  1.243379  0.325537 -0.580203 -0.290631 -1.615624
B -2.371074  0.732064  0.520608  0.535209  0.848141
D  0.145861  0.524395  1.832651 -0.239670 -0.546021
E -2.604048  0.734761  0.284896 -1.599529  1.259110
F -1.009086 -0.143158  0.461884  0.699953 -0.727276

In [10]:
# Cを忘れました。
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)
dframe2

       col1      col2      col3      col4      col5
A  1.243379  0.325537 -0.580203 -0.290631 -1.615624
B -2.371074  0.732064  0.520608  0.535209  0.848141
C       NaN       NaN       NaN       NaN       NaN
D  0.145861  0.524395  1.832651 -0.239670 -0.546021
E -2.604048  0.734761  0.284896 -1.599529  1.259110
F -1.009086 -0.143158  0.461884  0.699953 -0.727276

In [11]:
#列にも同じような操作ができます。
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.243379  0.325537 -0.580203 -0.290631 -1.615624   NaN
B -2.371074  0.732064  0.520608  0.535209  0.848141   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.145861  0.524395  1.832651 -0.239670 -0.546021   NaN
E -2.604048  0.734761  0.284896 -1.599529  1.259110   NaN
F -1.009086 -0.143158  0.461884  0.699953 -0.727276   NaN

In [12]:
# ixを使うと、素早くReindexが可能です。
dframe

       col1      col2      col3      col4      col5
A  1.243379  0.325537 -0.580203 -0.290631 -1.615624
B -2.371074  0.732064  0.520608  0.535209  0.848141
D  0.145861  0.524395  1.832651 -0.239670 -0.546021
E -2.604048  0.734761  0.284896 -1.599529  1.259110
F -1.009086 -0.143158  0.461884  0.699953 -0.727276

In [16]:
#@ ixメソッド自体が無くなってしまったので、この方法は使えなくなってしまいました。
dframe.ix[new_index, new_columns]

AttributeError: 'DataFrame' object has no attribute 'ix'