In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
# 階層構造があるindexを作ることができます。
ser = Series(np.random.randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [3]:
# どうなっているか見てみましょう。
ser

1  a   -0.719621
   b   -0.395661
   c   -0.458120
2  a    1.019727
   b   -1.498486
   c   -0.180326
dtype: float64

In [4]:
# indexだけ表示してみます。
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [5]:
# これを利用できます。
ser[1]

a   -0.719621
b   -0.395661
c   -0.458120
dtype: float64

In [6]:
ser[2]

a    1.019727
b   -1.498486
c   -0.180326
dtype: float64

In [7]:
ser

1  a   -0.719621
   b   -0.395661
   c   -0.458120
2  a    1.019727
   b   -1.498486
   c   -0.180326
dtype: float64

In [8]:
# We can also select from an internal index level
ser[:,'a']

1   -0.719621
2    1.019727
dtype: float64

In [9]:
# このSeriesをもとに、DataFrameを作れます。
dframe = ser.unstack()
dframe

          a         b         c
1 -0.719621 -0.395661 -0.458120
2  1.019727 -1.498486 -0.180326

In [10]:
# 逆もできます。
dframe.T.unstack()

1  a   -0.719621
   b   -0.395661
   c   -0.458120
2  a    1.019727
   b   -1.498486
   c   -0.180326
dtype: float64

In [11]:
#  DataFrameにも階層的なindexを作れます。
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [12]:
#階層的なindexに名前を付けられます。
# 行方向の名前
dframe2.index.names = ['INDEX_1','INDEX_2']
# 列方向の名前
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [13]:
# 階層構造を逆にすることができます。今回は列方向で試します。
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
#We can also sort levels
#dframe2.sortlevel(1)
#@ sortlevelはなくなりました。代わりに、sort_indexにlevel引数を渡します。
dframe2.sort_index(level=1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [21]:
#dframe2.sortlevel(1).sortlevel(0)
dframe2.sort_index(level=1).sort_index(level=0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [22]:
#レベルに応じて計算も出来ます。
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27